CREATE TABLE IF NOT EXISTS "Config" ("id" TEXT NOT NULL,"key" TEXT NOT NULL,"value" JSONB NOT NULL,"description" TEXT,"createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,"updatedAt" TIMESTAMP(3) NOT NULL,CONSTRAINT "Config_pkey" PRIMARY KEY ("id"));CREATE UNIQUE INDEX IF NOT EXISTS "Config_key_key" ON "Config"("key");
